:root{
    --PrimaryColor:hsl(225,50%,48%);
    --SecondaryColor:hsl(180,17%,95%);
    --colorOne:hsl(15,74%,70%);
    --colorTwo:hsl(28,100%,82%);
    --HoverColor:hsl(230, 55%, 40%);
    --whiteColor:hsl(0,0%,100%);
    --blackColor:hsl(0,0%,12%);
    --textColor:hsl(240,1%,48%);
    --borderColor:hsl(0,0%,83%);
    --whiteColorDeam:hsl(0,0%,93%);
    --greyBg:hsl(0,0%,96%);
    --greyText:rgb(145,145,145);
    --inputColor:hsl(330,12%,97%);
    --boxShadow: box-shadow:rgba(0,0,0,0.1) 0px 10px 15px -3px ,rgba(0,0,0,0.05) 0px 4px 6px -2px;
    --transition:.4s ease-in-out;
    --body-color:hsl(190,100%,99%);
}


body{
    background: var(--body-color);
    
}
.flex{
    display: flex;
    align-items: center;
}
.grid{
    display: grid;
    align-items: center;
}
.header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--greyText);
}
.btn{
    padding: .7rem 1.5rem;
    /* background-color: var(--PrimaryColor); */
    border: none;
    outline: none;
    border-radius: 3rem;
    cursor: pointer;
    
}
.btn:hover{
    background-color: blue;
}
/* <============ home Section starts here ======================> */
.ticket_home{
    padding-top: 5rem;
    text-align: center;
    gap: 2rem;
    flex-direction: column;
}
.ticketImages{
    width: 100%;
    margin: 1rem auto 0;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 5rem;
}
.videoDiv{
    width: 100%;
}
.video{
    border-radius: 10rem;
}
.plane{
    position: absolute;
    /* width: 100%; */
    top: -22%;
}
/* <============== Search Section satrs here ===================> */

.sectionContainer{
    width: 100%;
    padding: 1.5rem;
    border: 2px solid var(--greyBg);
    border-radius: 2rem;
    row-gap: 2rem;
}
.flight_class{
    
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.btns{
    background: var(--PrimaryColor);
    padding: .5rem 0;
    border-radius: 1rem;
    flex-direction: column;
    margin: auto;
    width: 100%;
}
.singleBtn{
    padding: .8rem 1.5rem;
    font-size: 18px;
    border-radius: 3rem;
    width: 80%;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    
}
.singleBtn:hover{
    opacity: 0.5;
}
.searchInputs{
    width: 100%;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
}

.iconDiv{
    font-size: 1.5rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 0.1rem solid #ccc;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.ticket_icons{
    color: var(--blackColor);
    opacity: .7;
}
.texts h4{
    padding-top: 0;
    padding-bottom: .7rem;
    color: var(--blackColor);
    font-weight:700;
    display: flex;
}
/* <================== Info Section ====================> */
.info{
    background: var(--SecondaryColor);
}
.titleDiv{
    flex-direction: column;
    text-align: center;
    gap: 1.5rem;
    justify-content: space-between;
}
.cardsDiv{
    gap: 1.5rem;
    margin-top: 3rem;
}
.singleCard{
    background: var(--whiteColor);
    padding: 2rem 2rem;
    border-radius: 10rem;
    gap: 1rem;
    text-align: center;
    margin: auto;
    height: 300px;
    max-width: 250px;
    width: 90%;
    
}
.singleCard .iconDiv{
    justify-content: center;
    margin: auto;
    background: var(--PrimaryColor);
    width: max-content;
    height: 55px;
    padding: 1rem;
    border-radius: 3rem;
}
.singleCard .iconDiv .ticket_icons{
    color: var(--whiteColor);
}
.cardTitle{
    color: var(--blackColor);
    font-weight: 700;
}
/* <=============== travelers section starts here =====================> */
 .travelers .travelersContainer{
    margin-top: 1rem;
    gap: 1.5rem;
   display: grid;
   grid-template-columns: repeat(1);
}

.allTraveler{
    position: relative;
    height: 320px;
    width: 85%;
    max-width: 250px;
    overflow: hidden;
    border-radius: 10rem;
    gap: 1rem;
    margin: auto;
}
.plane_book_title{
    line-height: 1px;
}
/* .destinationImage ,.travelerImage,.travelerName{
    position: absolute;
} */

.destinationImage{
    
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: cover;
    transition: transform 0.2s;
}

.travelerImage{
    display: block;
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 50%;
    bottom: 30px;
    left: 40%;
    transform: translateX(-50%);
    border: 5px solid rgba(225, 225, 225, 0);
    transition: var(--transition);
    animation: animated 2.1s infinite;
}
@keyframes  animated{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(8px);
    }
    100%{
        transform: translateY(0px);
    }
}
.travelPicture{
    display: flex;
    justify-content: center;
    align-items: center;

}
.travelerName{
    display: block;
    text-align: center;
    bottom: -100%;
    width: 100%;
    height: max-content;
    padding: 1.5rem 1rem;
    transition: var(--transition);
    background: var(--whiteColor);
    animation:animateborders 2.3s infinite
}

@keyframes  animateborders{
    0%{
        border-radius: 0rem;
    }
    50%{
        border-radius: 2rem;
    }
    100%{
        border-radius: 0rem;
    }
}
.travelerDetails {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    background: rgba(255, 255, 255, 0.249);
    padding: 10px;
    transition: opacity 0.2s;
}


.allTraveler:hover .travelerName {
    display: block;
}

.allTraveler:hover .travelerDetails {
    opacity: 1;
}
/* <==========  Booking ===========> */

.singleOffer .btn{
    background: var(--colorOne);
}
.singleOffer .btn:hover{
    background-color: var( --colorTwo);
}
/* <========== dark theme ================> */
body.dark-theme {
    --PrimaryColor: hsl(225, 50%, 70%); /* Modify the colors for dark mode as needed */
    --SecondaryColor: hsl(180, 17%, 15%);
    --colorOne: hsl(15, 74%, 70%);
    --colorTwo: hsl(28, 100%, 82%);
    --HoverColor: hsl(230, 55%, 40%);
    --whiteColor: hsl(0, 0%, 12%);
    --blackColor: hsl(0, 0%, 100%);
    --textColor: hsl(240, 1%, 95%);
    --borderColor: hsl(0, 0%, 30%);
    --whiteColorDeam: hsl(0, 0%, 20%);
    --greyBg: hsl(0, 0%, 25%);
    --greyText: hsl(0, 0%, 70%);
    --inputColor: hsl(330, 12%, 30%);
    --boxShadow: box-shadow: rgba(255, 255, 255, 0.1) 0px 10px 15px -3px, rgba(255, 255, 255, 0.05) 0px 4px 6px -2px;
    --transition: 0.4s ease-in-out;
    --body-color: hwb(189 0% 80%);
}
@media screen  and (min-width:556px){
    .cardsDiv{
        grid-template-columns: repeat(2,1fr);
    }
    .searchInputs{
        display: grid;
        align-items: center;
        grid-template-columns: repeat(1);
    }
}
@media screen  and (min-width:756px){
    .cardsDiv{
        grid-template-columns: repeat(3,1fr);
        
    }
    .travelersContainer{
        grid-template-columns: repeat(3,1fr);
    }
    .searchInputs{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .searchInputs .button{
        width: 30%;
        padding: 1rem 1rem;
    }
}
